<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>博客-首页</title>
    <!-- 引入外部文件 -->
    <!-- 10:55~11:10 -->
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/easyfader.css">

    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/jquery.easyfader.min.js"></script>
    <script src="../static/js/fader.data.js"></script>
    <script src="../static/js/blogs.data.js"></script>
    
    <script src="../static/js/index.js"></script>
</head>

<body>
    <!-- <div id="header"></div>
    <div id="main"></div>
    <div id="footer"></div> -->

    <!-- html5  语义化标签 -->
    <!-- 头部 -->
    <header>
        <!-- 导航栏 -->
        <nav>
            <!-- logo -->
            <h1 class="logo">
                <a href="#">个人博客</a>
            </h1>
            <!-- 导航菜单 -->
            <!-- ul>li*6>a -->
            <ul>
                <li><a href="#">网站首页</a></li>
                <li><a href="#">文章列表</a></li>
                <li><a href="#">我的相册</a></li>
                <li><a href="#">留言</a></li>
                <li><a href="#">关于我</a></li>
                <li><a href="#">发表博客</a></li>
            </ul>
            <!-- 登录注册 -->
            <div>
                <a href="#" id="register">注册</a>
                <a href="#" id="login">登录</a>
            </div>
        </nav>
    </header>



    <!-- 主体 -->
    <main>
        <!-- 上半部分 轮播图+侧边图片 -->
        <div>
            <!-- 左侧轮播图 -->
            <div class="banner">
                <ul class="fader">
                    <!-- 每一张轮播图 -->
                    <!-- 使用JS生成轮播内容 -->
                    <!-- 轮播图控制元素 -->
                    <li class="fader_controls">
                        <!-- 左右箭头 -->
                        <div class="page prev" data-target="prev">&lt;</div>
                        <div class="page next" data-target="next">&gt;</div>
                        <!-- 页标 -->
                        <ul class="pager_list">
                            <!-- 小圆点 -->
                            <!-- easyFader自动生成li -->
                            <!-- <li></li> -->
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- 右侧侧边图片 -->
            <ul class="toppic">
                <li>
                    <a href="#">
                        <!-- 遮罩层 -->
                        <i>
                            <img src="../static/images/toppic01.jpg" alt="">
                        </i>
                        <div>升级安装py3,安装pip,svn</div>
                        <span>linux</span>
                    </a>
                </li>
                <li class="last">
                    <a href="#">
                        <i>
                            <img src="../static/images/toppic02.jpg" alt="">
                        </i>
                        <div>升级安装py3,安装pip,svn</div>
                        <span>python</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- 清除上方元素的浮动 添加距离 -->
        <div class="clear"></div>
        <!-- 下半部分 博客列表 -->
        <div class="blogsbox">
            <!-- 每一条博客 -->
            
        </div>
    </main>
    <!-- 底部 -->
    <footer>
        <div>
            Design by
            <a href="#">个人博客</a>
            <a href="#">备XXXXXXXXXXXX号-1</a>
        </div>
    </footer>
</body>

</html>